{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block hover_about %}has-background-info-dark has-text-white{% endblock %}
{% block content %}
<section class="hero is-link" style="background-image: url(static/img/aboutme.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;">
  <div class="hero-body">
    <div class="card column is-5 has-text-centered">
      <div class="card-content">
        <figure class="image is-128x128" style="margin:auto">
          <img class="is-rounded" src="static/img/tm-easy-profile.jpg">
        </figure>

        <p> <img src="/static/img/ACE.jpg" height="448" width="293" align/=/"left">
          <img src="/static/img/CDL.jpg" height="448" width="293" align/=/"right">
        </p>
        <div class="content ">
          <h1>
             I'm Bakar Haythar
          </h1>

          <p><b>Cloud Computer/Engineer</b></p>


          <div class="icon-text">
            <span class="icon">
              <a href="https://www.linkedin.com/in/bakar-haythar-a86737215/" target="_blank" class="fa fa-linkedin fa-2x"></a>
            </span>
            <span class="icon">
              <a href="https://www.youtube.com/channel/UCV0IjvQoZ9JnuMwSqykIBMw/featured" target="_blank" class="fa fa-youtube fa-2x"></a>
            </span>
            <span class="icon">
              <a href="https://github.com/cloudBakarr" class="fa fa-github fa-2x"></a>
            </span>
            <span class="icon">
              <a href="https://www.qwiklabs.com/public_profiles/41477d18-d797-4d57-85da-fbada196ef4a" class="fa fa-google fa-2x"></a>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">

  <div class="columns  is-centered">
    <div class="column is-three-fifths">
      <div class="card is-shady">
        <div class="card-content">
          <div class="content has-text-justified	">
            <h3>ABOUT ME</h3>
            <p>
              I'm 21 y/o currently working with Googles Black+ Dev Training Program to Strengthen my skills as a Cloud Computer. I am a Computational thinker and have a Very strong Interest in Business, Cloud Computing, and Programming. I'm a student
              craving knowledge with an appetite for growing as a programmer and taking on endeavors that builds and strengthens my own personal development. I am ready for the future and open to any career and learning opportunities.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card is-shady" style="width: 100%;">
        <div class="card-content">
          <div class="content">
            <h3>Cloud Platforms</h3>
            <p>
              <span class="is-size-6">
                Google Cloud Platforms
              </span>
              <progress class="progress is-link is-small" value="100" max="100">70%</progress>
            </p>
            <p>
              <span class="is-size-6">
                Amazon Web Service
              </span>
              <progress class="progress is-link is-small" value="80" max="100">80%</progress>
            </p>
            <p>
              <span class="is-size-6">
                Microsoft Azure
              </span>
              <progress class="progress is-link is-small" value="60" max="100">60%</progress>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns  is-centered">
    <div class="column is-three-fifths">
      <div class="card is-shady">
        <div class="card-content">
          <div class="content has-text-justified	">
            <h3>EXPERIENCES</h3>
            <p><span class="is-size-5">AWS Cloud Developer</span></p>
            <p><span class="is-size-6"><b>XpressRun | 2021 November - Current</b></span></p>
            <p>
              My role in this Company is to help out on both the web development side and also the cloud AWS management side. I help design and develop the UI part of the website and I help take care of managing their AWS cloud Architect and manage
              the different services they use.
            </p>
            <p><span class="is-size-5">GCP Cloud Engineer</span></p>
            <p><span class="is-size-6"><b>XpressRun | 2021 July - Current</b></span></p>
            <p>
            <ul>
              <li>
                I develop, manage and administer application infrastructure on google cloud technology.
              </li>
              <li>
                I can set up and deploying cloud applications, monitor cloud operations, and manage enterprise cloud solutions.
              </li>
              <li>
                I Articulate the capabilities of core cloud products and services and understand how they beneﬁt organizations.
              </li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card is-shady" style="width: 100%;">
        <div class="card-content">
          <div class="content">
            <h3>LANGUAGES</h3>
            <p>
            <ul>
              <li>Python/ Javascript/ SQL</li>
              <li>HTML/ CSS</li>
              <li>Arabic/ Somali</li>
            </ul>
            </p>
            <h3>TOOLS/SKILLS</h3>
            <p>
            <ul>
              <li>FlutterFlow</li>
              <li>FireBase</li>
              <li>FLask</li>
              <li>Django</li>
              <li>Public speaking/ leadership</li>
              <li>communication/ team work/conflict resolution</li>
            </ul>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns  is-centered">
    <div class="column is-three-fifths">
      <div class="card is-shady">
        <div class="card-content">
          <div class="content has-text-justified	">
            <h3>EDUCATION</h3>
            <p><span class="is-size-5">Cloud Engineer</span></p>
            <p><span class="is-size-6"><b>Googles Black+ Cloud Cohort | 2021 July - Current</b></span></p>
            <p>
              This program combats systemic racism and the barriers it creates in the technology ecosystem by empowering members of the historically excluded Black community through access to training, mentorship, community, certification, and job
              placement, and unlocking their potential to build sustainable, equitable technology careers. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card is-shady" style="width: 100%;">
        <div class="card-content">
          <div class="content">
            <div class="contact">
              <h3>CONTACT</h3>
              <p><i class="fa fa-map-marker"></i> Louisville, Kentucky</p>
              <p><i class="fa fa-phone"></i> 502-665-1911</p>
              <p><i class="fa fa-envelope"></i> Bhaythar@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
